<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.nanodegree.udacity.myappportifolio">

    <!-- Adicionado permissão de acessso a internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MovieActivity"
            android:label="@string/title_activity_movie"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Estando exibido  o botão voltar na actionBar este é chama a activity principal  por esta anotação -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nanodegree.udacity.myappportifolio.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nanodegree.udacity.myappportifolio.activity.MovieActivity"/>
        </activity>
        <activity
            android:name=".activity.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nanodegree.udacity.myappportifolio.activity.MovieActivity"/>
        </activity>
    </application>

</manifest>